<div class="map-part">

{{mapbox-map
  divId="map-container"
  center=(mapbox-coords 37.765 -122.318)
  onclick="anAction"
  zoom=30}}

{{yield}}
</div>
<a href="https://www.npmjs.com/package/ember-cli-mapbox">Instructions for ember-cli-mapbox</a>
