@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500i,700');
/* Available Normal 400, semi-bold italic 500i, and bold 700 */
:root {
  --theme-color: RGBA(241, 40, 41, 1.00);
}
*, *::before, *::after {
  box-sizing: border-box;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}
html, body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
a, a::before, a::after, a:active, a:hover, a:visited {
  text-decoration: none;
}
code {
  background-color: RGBA(255, 218, 0, .4);
  color: RGBA(0,0,0,1.00);
  padding-left: 10px;
}

/* FROM APPLICATION.HBS TEMPLATE HEADER AND FOOTER */

.container {

}
.menu {

}
.fixed {

}
nav.top {

}

/* CONTENT STYLES */

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-top: 2px solid var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}
form input {
  font-family: monospace;
  width: 55%;
  padding: 15px 10px;
  font-size: 1.2rem;
  color: var(--theme-color);
  border: none;
  outline: none;
}
form button {
  width: 45%;
  background: var(--theme-color);
  font-size: 1.2rem;
  color: white;
  transition: all .2s ease-out;
  padding: 15px 0;
  outline: none;
  border: none;
}
form button:hover {
  box-shadow: -10px 10px 0 var(--theme-color);
  color: var(--theme-color);
  background-color: transparent;
}
.wrapper {
  min-height: 100%;
  padding: 10px;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.grid-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.full-width {
  grid-column: 1 / 4;
}
.grid-column:first-of-type {
  padding-top: 15px;
}
.grid-column:first-of-type .callout-content {
  text-align: right;
}
.grid-column:last-of-type {
  padding-top: 30px;
}
.inner-content, .callout-content {
  margin-bottom: 15px;
  transition: all .2s ease-in;
}
.inner-content {
  border: 6px solid var(--theme-color);
}
.inner-content:hover {
  box-shadow: 10px 10px 0 var(--theme-color);
}
.callout-content {

}
.top, .second {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 2px solid var(--theme-color);
}
.left {
  width: 30%;
  padding: 15px 10px 5px;
  border-right: 2px solid var(--theme-color);
}
.right {
  width: 70%;
  padding: 15px 10px 5px;
}
.inner-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.inner-child span {
  margin: 10px;
}
