@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500i,700');
/* Available Normal 400, semi-bold italic 500i, and bold 700 */
:root {
  --theme-color: RGBA(0, 107, 166, 1.00);
}
*, *::before, *::after {
  box-sizing: border-box;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}
html, body {
  font-family: 'IBM Plex Mono', monospace;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
a, a::before, a::after, a:active, a:hover, a:visited {
  text-decoration: none;
}

/* FROM APPLICATION.HBS TEMPLATE HEADER AND FOOTER */

.container {

}
.menu {

}
.fixed {

}
nav.top {

}

/* CONTENT STYLES */
