<div class="wrapper">
    <code>outside the grid-content</code>
    <div class="grid-content">
      <div class="grid-column">
        <div class="inner-content">
          <div class="top">
            <span class="left">.left</span>
            <span class="right">.top.right</span>
          </div>
          <div class="second">
            <span class="left">.left</span>
            <span class="right">.second.right</span>
          </div>
          <div class="inner-child">
            <span>Each box is called .inner-content and can include two headers, .top and .second and/or .inner-child. At a minimum, each .inner-content should contain a .inner-child.</span>
            <code>even a code span man</code>
          </div>
        </div>
        <div class="callout-content">
          <div class="inner-child">
            <h2>First column callout align right!</h2>
          </div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in here. Trust in the flex and it will protect you.</div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in here. Trust in the flex and it will protect you.</div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in here. Trust in the flex and it will protect you.</div>
        </div>
      </div>
      <div class="grid-column">
        <div class="inner-content">
          <div class="top">
            <span class="left">Pos</span>
            <span class="right">POTUS</span>
          </div>
          <div class="second">
            <span class="left">Name</span>
            <span class="right">Donald Trump</span>
          </div>
          <div class="inner-child">
            <span>Can we have spans now? looks inline here.</span>
            <span>What about another block element</span>
          </div>
        </div>
        <div class="inner-content">
          <div class="inner-child">
            <span>With Border.</span>
            <code>.inner-content .inner-child</code>
          </div>
        </div>
        <div class="callout-content">
          <div class="inner-child">
            <h2>Or without a border, like a callout!</h2>
          </div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in hen class="righre. Trust id-column firsin the flex and it will pranjklweth bioaoiawnerndk ehd eed d de thek akekotect you.</div>
        </div>
      </div>
      <div class="grid-column">
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child placeh-child. No display Block in here. Trust in the flex and it will proolder.</div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in here. Trust in the flex and it will protect you.</div>
        </div>
        <div class="inner-content">
          <div class="top">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="second">
            <span class="left">left</span>
            <span class="right">right</span>
          </div>
          <div class="inner-child">inner-child. No display Block in here. Trust in the flex and it will protect you.</div>
        </div>
      </div>
    </div>
  </div>
